.user.home .primary .heading {
    margin-top: 0;
    border: 0;
}

.user.home .primary .navigation.actions { 
    width: 60%;
    padding-right: 0;
    text-align: right;
}

.user.home .primary .navigation.actions > * {
    padding-left: 0;
}

.user.home .primary.header.module {
    margin: 1em auto;
}
